<%= form_for(@lesson) do |f| %>

  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2>%<%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--form to add/edit a lesson -->
    <%

    %>

  <div class="form-controls">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-controls">
     <%= f.label :instructor %><br>
     <%= f.text_field :instructor %>
  </div>
  <div class="form-controls">
    <%
       if(!@lesson.start_time.nil?)
            start_time = JSON(@lesson.start_time)
       end

       if(!@lesson.end_time.nil?)
            end_time = JSON(@lesson.end_time)
       end
       week_day = ['mon','tue','wed','thu','fri','sat','sun']
    %>

    <table>
        <thead>
            <th>Class Times</th>
            <%
               index = 0
               week_day.each do |day|
                    if(!start_time.nil?)
                        checked= (start_time[index.to_s].to_i > 0)
                    else
                        checked = false
                    end
                   key = 'chk_schedule['+day+']'
            %>
            <th><%=check_box_tag key,1,checked, class:'chk_schedule' %></th>
            <%
               index = index + 1
               end
            %>
        </thead>
        <tbody>
            <tr id="start_row">
                <td>Start</td>
                <%
                   index = 0
                   week_day.each do |day|
                     if(!start_time.nil?)
                         hour    = start_time[index.to_s].to_i / 60
                         minute  = start_time[index.to_s].to_i % 60
                    else
                        hour = 9
                        minute = 0
                    end
                 %><td>
                  <%= time_select 'start_time', day, {:ampm => true, :minute_step=>15, :start_hour=>9, :end_hour =>21, :default => Time.now.change(:hour => hour, :min=> minute)}%>
                  </td>
              <%
                 index = index + 1
                 end

                %>
            </tr>
            <tr id="end_row">
              <td>End</td>
              <%
                 index = 0
                 week_day.each do |day|
                   if(!end_time.nil?)
                     hour    = end_time[index.to_s].to_i / 60
                     minute  = end_time[index.to_s].to_i % 60
                   else
                     hour = 9
                     minute = 0
                   end
              %><td>
                  <%= time_select 'end_time', day, {:ampm => true, :minute_step=>15, :start_hour=>9, :end_hour =>21, :default => Time.now.change(:hour => hour, :min=> minute)}%>
                  </td>
              <%
                 index = index + 1
                 end
              %>

            </tr>
        </tbody>
    </table>
  </div>
    <!--  class scheudle repeater -->
    <div class="form-controls">
      <p>
        <%= f.label :schedule_repeat %>
        <%= select_tag('schedule_repeat', options_from_collection_for_select(@repeat_interval, :first, :last, @lesson.schedule_repeat)) %>

      </p>
    </div>
    <!-- for warmup and conditioner -->
    <div class="form-controls">
      <table>

        <tbody>
        <tr>
          <td>Warmup</td>
          <td>
            <%=
                if(!@lesson.warm_up.nil? and !@lesson.conditioning.nil?)
                    warmup = JSON(@lesson.warm_up)
                    conditioning = JSON(@lesson.conditioning)
                    def_warmup_equipment = warmup['equipment']
                    def_warmup_duration = warmup['duration']
                    def_con_equipment = conditioning['equipment']
                    def_con_duration = conditioning['duration']
                else
                  def_warmup_equipment = :first
                  def_warmup_duration = :first
                  def_con_equipment = :first
                  def_con_duration = :first
                end

                select_tag "warmup_event",options_from_collection_for_select(@equipments, 'id', 'name', def_warmup_equipment)
            %>
          </td>
          <td>
            At the beginning of the class for:
          </td>
          <td>
                <%= select_tag 'warmup_duration', options_from_collection_for_select(@durations, :first, :last, def_warmup_duration) %>
          </td>
        </tr>
        <tr>
          <td>Conditioning</td>
          <td>
            <%=
                select_tag "conditioning_event",options_from_collection_for_select(@equipments, 'id','name', def_con_equipment)
            %>
          </td>
          <td>
            At the end of the class for:
          </td>
          <td>
            <%= select_tag 'conditioning_duration', options_from_collection_for_select(@durations, :first, :last, def_con_duration) %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- events -->
    <div class="form-controls">
      <table id="events_table">
        <thead>
        <th>Event</th>
         <th>Total Use Each Period(Set Above)</th>
        <th>Minimum Use Each Class</th>
        <th>Maximum Use Each Class</th>
        <th>Action</th>
        </thead>
        <tbody>
            <%
               if(@lesson.events)
                    events = JSON(@lesson.events)
                    total_events = events.length
               else
                    total_events = 1
               end

               #for i in 0...events.length
               for i in 0..total_events-1
                if(!events.nil?)
                    def_equipment       = events[i]['equipment']
                    def_total_duration  = events[i]['total_use_duration']
                    def_min_duration    = events[i]['min_use_duration']
                    def_max_duration    = events[i]['max_use_duration']
                else
                  def_equipment       = :first
                  def_total_duration  = 90
                  def_min_duration    = 15
                  def_max_duration    = 45
                end
            %>

        <tr class="event_row">
          <td>
            <%=  select_tag "events[]",options_from_collection_for_select(@equipments, 'id', 'name', def_equipment) %>
          </td>
          <td>
            <%= select_tag('event_duration[]', options_from_collection_for_select(@durations, :first, :last, def_total_duration)) %>
          </td>
          <td>
            <%= select_tag('event_min_duration[]', options_from_collection_for_select(@durations, :first, :last, def_min_duration)) %>
          </td>
          <td>
            <%= select_tag('event_max_duration[]', options_from_collection_for_select(@durations, :first, :last, def_max_duration)) %>
          </td>
          <td><a href="#" class="remove_event">Remove</a></td>
        </tr>
            <%
               end
            %>
        <tr>
          <td colspan="5" >
            <input type="button" name="add_stipulation" id="add_stipulation" value="Add Stipulation" style="float:right">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="form-controls">
        <%=link_to 'Create Schedule',create_schedule_path(:interval => 30), :id=>'create_schedule' %>
      <br/>
      <%= select_tag('schedule_duration', options_from_collection_for_select(@schedule_duration, :first, :last, '2')) %>
      <br/>
      <p>Time Slot Interval</p>
      <%= select_tag('timeslot_interval_form', options_from_collection_for_select(@timeslot_intervals, :first, :last, '30')) %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
